:root {
    color-scheme: light dark;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form {
    display: grid;

    grid-template-areas:
      "labels"
      "controls";

    grid-template-rows: 2em;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    padding: 1.2em;
}
form label  {
    grid-column: labels;
    grid-row: auto;
}

form label input {
	display: block;
	width: 100%;
	margin-top: 0.5em;
}

form label input[type="checkbox"] {
	display: inline;
	width: auto;
	float: right;
}

form input {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;

    background-color: #eee;
}

form input[type="button"],
form input[type="submit"] {
    border: 0;
    background: gray;
    color: white;
}

form input[type="button"]:hover,
form input[type="submit"]:hover {
    cursor: pointer;
	background: #ccc;
}

form #form-alert {
    grid-column: controls;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #232323;
        color: #ccc;
    }

    form > input,
    form > select,
    form > textarea,
    form > button {
        background-color: #131313;
    }
}
