html, body {
  font-family: Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
}

h1 {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

p, h1, span, h2, legend {
	cursor: default;
}

input {
	cursor: pointer;
}

li > p {
  margin-bottom: 10px;
}

main {
	background: #F4F5F7;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main > h1 {
	height: 1.5rem;
}

.messages {
	margin-bottom: auto;
}

.log,
.messages,
.tasks {
	background: white;
	border-top: 1px solid #DFE1E6;
	border-bottom: 1px solid #DFE1E6;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.controls {
	border-top: 1px solid #DFE1E6;
}

.log > h2,
.messages > h2,
.tasks > h2,
.checks > h2 {
	font-size: 0.75rem;
	font-family: monospace;
	text-transform: uppercase;
	padding-left: 1rem;
}

.message {
	display: block;
	cursor: default;
}

.text {
	padding-left: 0.5rem;
}

.checks ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	flex-wrap: nowrap;
	align-content: stretch;
	height: 2rem;
}

.check {
	border-right: 1px solid #DFE1E6;
}

.check:last-child {
	border-right: none;
}

.check.severity {
	height: 100%;
	flex: 1;
}

.check a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.check.severity.info {
	background: green;
}
.check.severity.warn {
	background: orange;
}
.check.severity.error {
	background: rgba(from red r g b /0.5);
}
.check.severity.fatal {
	background: red;
}


.message .text {
  cursor: pointer;
}

h1::selection,
h2::selection,
p::selection,
a::selection,
span::selection,
.text::selection,
.message::selection,
.message *::selection {
  background: none;
}

.message p {
  text-wrap: nowrap;
  margin: 0.25rem 0;
}

.note .control {
	display: flex;
	width: 100%;
	gap: 0px;
}

.note .control .text {
	flex: 0.98;
}

.note .control .submit {
	flex: 0 0 auto;
	width: auto;
	border: none;
}

.note .control input {
	border: none;
}
*/

@keyframes flash {
	from {
		background: rgba(from #091E42 r g b /0.2);
	}
	
	to {
		background: default;
	}
}

.message {
  margin-bottom: 0.25rem;
  text-wrap: nowrap;
}

.message .text {
  text-decoration: none;
  animation: 2s 1 normal flash;
}

.message > p > * {
  display: inline-block;
}

.message:hover .text {
  background: rgba(from #091E42 r g b /0.2);
}

.badge,
.message {
  font-family: ui-monospace, monospace;
}

.badge {
  background: #42526E;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}

.badge:not(:first-child) {
  margin-left: 0.25rem;
}

.badge.action {
  cursor: pointer;
}

.badge.action:hover {
  outline: 1px solid darkgray;
}

.badge.action:active {
  box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.24);
}

.badge.action.disabled:hover {
  cursor: default;
  outline: none;
  box-shadow: none;
  border: none;
}

.badge.action.disabled:active {
  cursor: default;
  outline: none;
  box-shadow: none;
  border: none;
}

.badge.action.disabled {
  background: rgba(7, 71, 106, 0.07);
  color: #42526E47
}

.badge.mono {
  width: 40px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.badge:not(.mono) {
  padding: 3px 3px;
  text-align: center;
  vertical-align: top;
}

.badge.info {
  background: #42526E;
}

.badge.yes {
  background: rgba(7, 71, 106, 0.07);
  color: #42526E;
}

.badge.red {
	background: #BF2600;
  color: white;
}

.badge.yellow {
	background: orange;
}

.badge.green {
	background: green;
  color: white;
}

.message {
  margin-left: 0.25rem;
  border-radius: 5px;
}

.tiny {
  font-size: 0.75rem;
  color: white;
}

/* Status reporting */
.status {
  font-size: 10px;
  text-transform: uppercase;
  font-style: ;
  font-variant: small-caps;
  padding: 0.25rem 0.5rem;
  background: #db5a5a;
  border-radius: 2.5px;
  color: white;
  text-align: center;
  line-height: 14px;
}

.status.on {
  background: #5adbb5;
}

progress {
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 9.5em;
  height: 1em;
  background: #eee; /* track color */
  display: block;
}

progress::-moz-progress-bar {
  background: #db5a5a;
}

progress.ok::-moz-progress-bar {
  background: #5adbb5;
}

h1 {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

h1 span:first-child {
  margin-right: auto;
}

/* Forms */
.controls {
  margin: 0;
  outline: none;
  padding: 0.75rem 0.5rem;
  background: #091E42;
}

.controls:has(+ .messages) {
  padding-bottom: none;
}

.controls h2 {
  width: 100%;
  border: none;
}

.controls section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.controls .tiny:first-child {
	margin-right: auto;
}

.controls input[type="button"] {
	background: rgba(255, 255, 255, 0.2);
	color: white;
	outline: none;
	border: none;
	padding: 4px 8px;
	text-transform: capitalize;
}

.controls input[type="button"]:hover {
	background: rgba(255, 255, 255, 0.3);
}

.controls input[type="button"]:active {
	background: rgba(255, 255, 255, 0.4);
}

.controls input:not(:last-child) {
  margin-right: 0.5em;
}

input[type="button"].error {
	background: #db5a5a;
}

input[type="button"].warn {
	background: #dbdb5a;
}

input[type="button"].ok {
	background: #5adbb5;
}

/* Tooltips s*/
[data-tooltip] {
  position: relative;
  pointer: cursor;
}
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: '';
  border: 6px solid transparent;
  z-index: 101;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  text-align: left;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: #333333;
  color: #FFFFFF;
  z-index: 100;
}
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}
[data-tooltip='']::before,
[data-tooltip='']::after {
  display: none !important;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow^="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333333;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::before,
[data-tooltip][data-flow^="top"]::after {
  left: 25%;
  transform: translate(0%, -.4em);
}
[data-tooltip][data-flow^="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333333;
}
[data-tooltip][data-flow^="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow^="bottom"]::before,
[data-tooltip][data-flow^="bottom"]::after {
  left: 25%;
  transform: translate(-50%, .4em);
}
[data-tooltip][data-flow^="left"]::before {
  top: 0%;
  border-right-width: 0;
  border-left-color: #333333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[data-tooltip][data-flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.4em, -50%);
}
[data-tooltip][data-flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333333;
  right: calc(0em - 7px);
  transform: translate(.4em, -50%);
}
[data-tooltip][data-flow^="right"]::after {
  top: 50%;
  left: calc(20% + 5px);
  transform: translate(.5em, -50%);
}
@keyframes tooltip-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltip-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[data-tooltip]:not([data-flow]):hover::before,
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow^="top"]:hover::before,
[data-tooltip][data-flow^="top"]:hover::after,
[data-tooltip][data-flow^="bottom"]:hover::before,
[data-tooltip][data-flow^="bottom"]:hover::after {
  animation: tooltip-vert .5s ease-out forwards;
}
[data-tooltip][data-flow^="left"]:hover::before,
[data-tooltip][data-flow^="left"]:hover::after,
[data-tooltip][data-flow^="right"]:hover::before,
[data-tooltip][data-flow^="right"]:hover::after {
  animation: tooltip-horz .5s ease-out forwards;
}
